#accelerateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 225, 243);
}

#accelerate {
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#spaceParagraphContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url(../../../public/space.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1300px;
}

#spaceParagraph {
  margin-top: 40px;
  width: 650px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  font-size: 2.25rem;
  background-color: rgba(0, 0, 0, 0.386);
  border-radius: 10px;
}

#secondSpaceParagraph {
  font-size: 1.5rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.386);
  border-radius: 10px;
}

#signUpHereButton {
  color: black;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#signUpHereButton:hover {
  cursor: pointer;
  color: blueviolet;
}
