.containerforthehomepage {
  height: 92%;
  background-color: black;
}

#accelerateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 225, 243);
}

#accelerate {
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#secondHalfContainer {
  background-color: black;
  background-image: url(https://per-py-proj.s3.amazonaws.com/space_galaxy.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
}

#spaceParagraphContainer {
  display: flex;
  flex-direction: column;
  text-shadow: black 2px 6px 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 100%;
}

#spaceParagraph {
  margin-top: 40px;
  width: 650px;
  color: white;
  font-size: 2.5rem;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#secondSpaceParagraph {
  font-size: 1.5rem;
  color: white;
  padding: 0px;
  margin: 0px;
  margin-bottom: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#signUpHereButton {
  color: royalblue;
  font-size: 30px;
  font-family: "Death Star", sans-serif;
}

#signUpHereButton:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

/* special effects */
@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(262, 93%, 36%, 0.2),
      0 0 0.125em hsla(252, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(260, 93%, 28%, 0.5),
      0 0 0.125em hsla(257, 89%, 22%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 84%, 24%, 0.5),
      0 0 0.125em hsla(253, 81%, 25%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(249, 85%, 30%, 0.5),
      0 0 0.125em hsla(262, 84%, 27%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(225, 87%, 45%, 0.2),
      0 0 0.125em hsla(214, 79%, 48%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

div.home-title {
  font-size: 8.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
  font-family: "Death Star", sans-serif;
}

@media only screen and (max-width: 650px) {
  div.home-title {
    font-size: 17.5vw;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
    font-family: "Death Star", sans-serif;
  }

  #spaceParagraph {
    margin-top: 5vw;
    width: 80vw;
    font-size: 7.5vw;
    color: white;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  #secondSpaceParagraph {
    font-size: 3.5vw;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  #nameContainer {
    display: flex;
    flex-direction: row;
  }
}
