.pc-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  height: 100px;
  background-color: #61365900;
  border-radius: 15px;
}

.pl-cards-input {
  font-size: 0.9rem;
  width: 230px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
}

.pl-cards-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pl-cards-button {
  justify-content: flex-start;
  align-self: flex-start;
  text-align: left;
  color: white;
  height: 50px;
  background-color: #ffffff00;
  width: 100%;
  border: none;
  padding: 12px;
  outline: none;
  box-shadow: none;
}

.pl-cards-button:hover {
  color: white;
  background-color: #ffffff00;
}

.pl-cards-submit-button {
  width: 75px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 15px;
}

.pl-cards-button-container {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  gap: 15px;
}
