.post-card-contatiner{
    padding: 20px;
}

.post-card-image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
  }

  .post-card-image-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }

  .post-card-image-submit {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .loading {
    color: #6c757d;
  }

  .post-card-image-checkbox {
    margin-right: 10px;
  }

  .p-error {
    color: #dc3545;
  }
