.pc-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  height: 100px;
  background-color: #613659;
  border-radius: 15px;
}

.pl-cards-input {
  font-size: 0.9rem;
  width: 230px;
  height: 30px;
  background-color: #c197d2;
  padding: 5px;
  border-radius: 10px;
  border-bottom: solid 1px #211522;
}

.pl-cards-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pl-cards-button {
  justify-content: flex-start;
  height: 50px;
  background-color: #ffffff3d;
  padding: 12px;
}

.pl-cards-submit-button {
  width: 75px;
  height: 30px;
  background-color: #c197d2;
  border-radius: 15px;
}

.pl-cards-button-container {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  gap: 15px;
}
