.cardcontainer {
  width: auto;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 15px;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.922);
}

.photocovercontainer {
  display: flex;
  align-items: center;
  max-width: 635px;
  height: auto;
}

.photocover {
  width: 100%;
}

.titlescont {
  margin-left: 15px;
}

.sc-container {
  /* border: 1px dashed red; */
  display: flex;
  flex-direction: row;
  /* background-color: #ffffff; */
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.titlescont {
  padding-top: 10px;
  display: flex;
  /* font-size: 1rem; */
  border-radius: 10px;
  /* background-color: red; */
}

.sc-title {
  margin-top: 0px;
}

.leftside {
  /* border: 1px solid blueviolet; */
  width: 500px;
}

.label-notif-container {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 16px;
  margin-left: 16px;
}

.description-container {
  display: flex;
  flex-direction: row;
}

.editanddescription {
  display: flex;
  justify-content: space-between;
}

.editanddescription button {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.description-container:hover .editanddescription button {
  opacity: 1;
}

.fillthespace {
  width: 100%;
}
.postcommentcont,
.pc-comments-title {
  width: 100%;
}

.sc-row {
  font-size: 0.9rem;
  /* background-color: #c197d2; */
  padding: 5px;
  border-radius: 10px;
  /* border-bottom: solid 1px #211522; */
}

.attachments-container {
  display: flex;
}

.checklist-container {
  display: flex;
  margin-bottom: 15px;
}
.attachments-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rightside {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.buttonsincard {
  background-color: #e4e6e9;
  margin-bottom: 8px;
  width: 110px;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  transition: background-color 0.1s ease; /* Add this line for a smooth transition */
  color: black;
}

.buttonsincard:hover {
  background-color: #c2c4c7; /* Darker shade on hover */
}

.logo {
  margin-right: 5px;
}

.ed-card-input {
  width: 450px;
  height: 250px;
  resize: none;
  font-size: 15;
}

@media only screen and (max-width: 790px) {
  .cardcontainer {
    width: 80vw;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 15px;
    padding: 20px;
    color: white;
    background-size: 200% 200%;
  }
}
