#teamContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

#meet {
  text-decoration: underline;
  font-size: 1.5rem;
  color: white;
}

.name {
  font-size: 1.3rem;
  margin-top: 0px;
  padding: 0px;
  font-weight: 500;
  color: white;
}

#nameContainer {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

/* .namesContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
} */
