@import url("https://fonts.cdnfonts.com/css/death-star");

.ab-boards-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

a.ab-a-nav {
  text-decoration: underline;
}

.ab-inner-div_container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  cursor: default;
}

#boardsTitleContainer {
  display: flex;
  flex-direction: column;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  text-shadow: 1px 1px 2px rgb(159, 156, 156);
  background-color: rgb(219, 219, 219);
}

#secondHalfContainerBoards {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  height: 85vh;
  width: 100%;
}

#boardsLeftSideContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 2px black solid;
  height: 100%;
  background-color: rgb(219, 219, 219);
  padding: 0px 5px;
}

#boardsRightSideContainer {
  background-image: url(/public/space2jpg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  /* min-height: 100vh; */
  /* width: 100%; */
  overflow-x: scroll; /* This one and the scroll in singleboard .outer-sb-list keeps the scroll to the lists and keeps the image from extending the page  */
}

.ab-boards-container {
  display: flex;
  flex-direction: row;
}

.ab-boards-link-left {
  text-decoration: none;
  color: black;
  font-family: "Space Grotesk", sans-serif;
  text-shadow: 1px 1px 2px rgb(159, 156, 156);
}

.ab-boards-link-left:hover {
  color: rgb(0, 15, 154);
}

.ab-boards-tile-left {
  display: flex;
  margin-top: 10px;
}

#workSpaceContainer {
  color: white;
  margin-left: 40px;
  margin-top: 30px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.494);
  border-radius: 10px;
}

#workspaceTitle {
  font-family: "Death Star", sans-serif;
  font-size: 2.25rem;
  text-shadow: black 2px 5px 5px;
  padding: 10px;
}

.ab-boards-link-right {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  border: rgb(255, 255, 255) 1px, solid;
  text-shadow: rgb(56, 51, 51) 1px 1px 5px;
  border-radius: 10px;

  /* Ensures text does not overflow its container */
}

.ab-boards-link-right:hover {
  color: rgb(43, 61, 226);
}

#containerForRightTiles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  gap: 50px;
  max-width: 1500px;
  flex-wrap: wrap;
}

#ab-create-board-button {
  margin-left: 75px;
}

.ab-boards-tile-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 2px rgb(0, 0, 0) solid;
  font-family: "Death Star", sans-serif;
  padding: 20px;
  width: 125px;
  height: 150px;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.539);
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: rgba(0, 0, 0, 0.502) 2px 4px 2px;
}

.ab-boards-tile-right:hover {
  box-shadow: 2.3px 1.2px 6px 6px #84acf8;
}

@media only screen and (max-width: 650px) {
  #workspaceTitle {
    font-family: "Death Star", sans-serif;
    font-size: 3rem;
    text-shadow: black 2px 5px 5px;
    padding: 10px;
  }
  #secondHalfContainerBoards {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
  }

  #containerForRightTiles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 50px;
    max-width: 1500px;
    flex-wrap: wrap;
  }

  .ab-boards-link-right {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
    border: rgb(255, 255, 255) 1px, solid;
    text-shadow: rgb(56, 51, 51) 1px 1px 5px;
    border-radius: 10px;
  }
  .ab-boards-tile-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 2px rgb(0, 0, 0) solid;
    font-family: "Death Star", sans-serif;
    padding: 20px;
    height: 150px;
    border-radius: 10px;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.539);
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: rgba(0, 0, 0, 0.502) 2px 4px 2px;
  }

  #boardsRightSideContainer {
    background-image: url(/public/space2jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    /* min-height: 100vh; */
    /* width: 100%; */
    overflow-y: scroll;
    /* This one and the scroll in singleboard .outer-sb-list keeps the scroll to the lists and keeps the image from extending the page */
  }

}
