.eb-board-title {
  font-size: 1.75rem;
  border-bottom: solid 2px white;
}

.eb-board-title:hover {
  border-bottom: solid 2px #211522;
  color: blue;
}

.eb-board-input {
  font-size: 1.75rem;
  border-radius: 15px;
  width: 200px;
  background-color: #c197d2;
}

.eb-board-submit-button {
  width: 75px;
  height: 30px;
  background-color: #c197d2;
  border-radius: 15px;
}

.eb-board-form {
  margin-top: 23.24px;
  margin-bottom: 23.24px;
  border-bottom: solid 2px #211522;
}

.eb-lists-title {
  font-size: 1.25rem;
  border-bottom: solid 2px #211522;
  margin: 0.5rem 0.2rem;
  display: inline-flex;
  max-width: fit-content;
  width: 40%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  height: 35px;
}

.hover {
  position: relative;
  height: min-content;
  top: 2.8rem;
  right: 2.8rem;
  font-size: small;
  font-family: cursive;
  font-style: italic;
  border: 1px solid black;
  background-color: beige;
  padding: 0px 8px;
  color: black;
}

.hover.hidden {
  visibility: hidden;
}

.eb-lists-title>p.hover {
  position: relative;
  top: 1rem;
  left: 0rem;
  width: fit-content;
  color: black;
}
