.eb-board-title {
  font-size: 1.75rem;
  border-bottom: solid 2px white;
  font-family: "Death Star", sans-serif;
  text-shadow: black 2px 2px 2px;
}

.eb-board-title:hover {
  border-bottom: solid 2px #211522;
  color: royalblue;
}

.eb-board-input {
  font-size: 1.75rem;
  border-radius: 15px;
  width: 200px;
}

.eb-board-submit-button {
  width: 75px;
  height: 30px;
  border-radius: 15px;
}

.eb-board-form {
  margin-top: 23.24px;
  margin-bottom: 23.24px;
  border-bottom: solid 2px #211522;
}

.eb-title_container {
  display: flex;
  height: 50px;
  max-height: fit-content;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list-title {
  width: 100%;
  text-decoration: none;
  margin: 0px 10px;
}

.list-title:hover {
  cursor: pointer;
}

.list-title-menu {
  cursor: pointer;
}

.eb-lists-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #84acf8;
  margin: 0.5rem 0.2rem;
  flex-wrap: wrap;
  font-size: 1.25rem;
  margin: 0.5rem 0.2rem;
  align-self: center;
  width: fit-content;
  flex-direction: row;
  padding: 5px;
}

.hover {
  position: relative;
  height: min-content;
  top: 2.8rem;
  right: 2.8rem;
  font-size: small;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  padding: 0px 8px;
  color: black;
}

.hover.hidden {
  visibility: hidden;
}

.eb-edits {
  display: flex;
  padding: 5px;
}

.eb-edit-title:hover {
  text-decoration: none;
}
.eb-edit-name {
  padding: 5px;
}
