.postBoardForm {
  display: flex;
  flex-direction: column;
  margin: 10px;
  /* border: 2px black solid; */
  /* border-radius: 10px; */
}
#formBoardLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
