/* board styling */

.sb-outer_container {
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  height: 100%;
  position: relative;
  left: 0;
}

.sb-inner_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.sb-board-title {
  font-size: 2rem;
  border-bottom: solid 2px #211522;
}

.sb-edit-board {
  cursor: pointer;
  display: flex;
}

.hover {
  position: absolute;
  top: 3.2rem;
  right: 11.6rem;
  font-size: small;
  font-family: cursive;
  font-style: italic;
  border: 1px solid black;
  background-color: beige;
  padding: 0px 8px;
}

.hover.hidden {
  visibility: hidden;
}

.sb-edit-board-modal {}

.caption {
  font-size: small;
  position: relative;
}


.sb-boards-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  background: #c197d2;
  border-radius: 15px;
}

.sb-boards-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #211522;
}

/* list styling */
.sb-lists-title {
  font-size: 1.75rem;
  border-bottom: solid 2px #211522;
  margin: 8px 12px;
}

.outer-sb-list {
  display: flex;
}


button.pl-lists-button {
  cursor: pointer;
  margin: 12px 8px;
}

button.pl-lists-button:hover {
  cursor: pointer;
  background-color: slategrey;
  /* border: 4px solid #6185e180; */
  border-width: 3px;
  /* box-shadow: 0 0 10px #84acf8; */
}


.sb-delete-bp-list-add {}

.sb-list-full {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  /* flex-direction: column; */
}

.sb-list-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 8px;
  background-color: darkgrey;
  margin: auto;
  border-radius: 50px;
  padding-bottom: 8px;
  align-items: center;
  width: 18rem;
  /* height: 21rem; */
  height: fit-content;
  /* padding: 20px; */
  /* overflow-y: scroll; */
  overflow: hidden;
}

.single-board_delete {
  margin: 10px;
  width: fit-content;
}

.single-board-button-delete {}

/* card styling */

.all-cards-on-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.indiv-card-in-list {}

.card-modal {}

.card-modal-title {
  cursor: pointer;
}

.all-cards-on-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.indiv-card-in-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}

.card-modal-box {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 8px 0px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 8px 0px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 8px 0px;
  background-color: transparent;
  overflow: hidden;
  /* height: 500px; */
  /* overflow-wrap: anywhere; */
  white-space: normal;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-modal-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  /* padding: 6px 8px 6px 12px; */
  padding: 8px 0px;
  /* margin-inline-start: 1.5rem; */
  background-color: slategrey;
  color: darkorchid;
}

.card-modal-title:last-child {
  margin-inline-start: 0.5rem;
}

#card-modal-item {
  margin-inline-start: 0.5rem;
  margin: 10px;
}

.card-modal-main-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px 10px;
  margin: 10px;
  border: 2px solid black;
  width: 100%;
  height: 75%;
  align-items: center;
}

.card-modal-cover-image {
  /* width: 75%; */
  /* height: 170px; */
  border-bottom: 1px solid black;
  border-radius: 2%;
  padding: 8px 12px;
  margin: 2px;
  cursor: auto;
}

.card-modal-description {
  cursor: default;
}





.on-list-delete {
  padding: 2px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.on-list-delete>form {
  margin: 2px 10px;
}

.on-list-delete>form>button {
  width: 100%;
  padding: 5px;
}

.sb-list-container>button {
  padding: 5px;
}

.list-card-delete-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-content: stretch;
  align-items: baseline;
  flex-wrap: wrap;
}

.list-card-delete-button>form {}

.list-card-delete-button>form>button {
  padding: 4px 8px;
  border-radius: 8px;
  margin: 8px 12px;
}

.list-card-add-card {
  margin-bottom: 8px;
}

.list-card-add-card-modal {}
