/* board styling */

.sb-outer_container {
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  height: 100%;
  position: relative;
  left: 0;
}

.sb-inner_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.sb-board-title {
  font-size: 2rem;
  border-bottom: solid 2px #211522;
}

#sb-delete-board-button-single {
  border: 2px solid black;
  border-radius: 10px;
  padding: 4px;
  padding-bottom: 2px;
  background-color: rgb(255, 255, 255);
}

.sb-edit-board {
  cursor: pointer;
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.delete-board-modal-pop {
  display: flex;
  gap: 5px;
}

.sb-edit-board > p.hover {
  position: relative;
  top: 1rem;
  right: 3rem;
}

.hover {
  position: relative;
  height: min-content;
  top: 2.8rem;
  right: 2.8rem;
  font-size: small;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  padding: 0px 8px;
  color: black;
}

.hover.hidden {
  visibility: hidden;
}

.caption {
  font-size: small;
  position: relative;
}

.sb-boards-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  border-radius: 15px;
}

.sb-boards-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #211522;
}

/* list styling */
.sb-lists-title {
  font-size: 1.75rem;
  border-bottom: solid 2px #211522;
  margin: 8px 12px;
}

.add-card-div {
  width: 100%;
  margin: 8px 4px;
  display: flex;
}

.add-card-div > button.pl-lists-button {
  cursor: pointer;
  margin: 4px 8px;
  padding: 12px;
  width: 100%;
  border: none;
  height: 20%;
  font-size: 14px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
}

.pl-lists-button {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.365);
}

button.pl-lists-button:hover {
  cursor: pointer;
  background-color: slategrey;
  border-width: 3px;
}

/* .sb-delete-bp-list-add {} */
.outer-sb-list {
  display: flex;
  width: 100%;
  overflow-x: scroll;

}

.sb-list-full {
  display: flex;
  /* width: 100%; */
  margin-top: 2rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 8px;
  align-items: flex-start;
  color: #eae5ec;
}

.sb-list-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.539);
  box-shadow: rgba(0, 0, 0, 0.502) 2px 4px 2px;
  box-shadow: rgba(0, 0, 0, 0.502) 2px 4px 2px;
  border-radius: 20px;
  padding-bottom: 8px;
  width: 16rem;
  border: 1px black solid;
  height: fit-content;
}

.sb-list-container:hover {
  box-shadow: 2.3px 1.2px 6px 6px #84acf8;
}

.single-board_delete {
  margin: 10px;
  width: fit-content;
}

/* card styling */

.all-cards-on-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.indiv-card-in-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-modal-title {
  cursor: pointer;
}

.card-modal-box {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 8px 0px;
  background-color: transparent;
  /* overflow: hidden; */
  white-space: normal;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-modal-title {
  display: flex;
  flex-direction: column;
  height: 20px;
  width: 100%;
  padding: 8px 0px;
  background-color: slategrey;
  color: darkblue;
  align-items: baseline;
  flex-wrap: wrap;
}

.card-modal-title > :first-child {
  margin-inline-start: 0.5rem;
  color: black;
}

.card-modal-title:hover > :first-child {
  color: rgb(49, 98, 221);
}

div.card-modal-title > p.hover {
  position: relative;
  top: 40%;
  right: 15%;
  width: fit-content;
  color: black;
}

#card-modal-item {
  margin-inline-start: 0.5rem;
  margin: 10px;
}

.card-modal-main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px 10px;
  margin: 10px;
  height: 250px;
  align-items: center;
}

.card-modal-cover-image {
  border-radius: 20px;
  padding: 8px 12px;
  margin: 2px;
  cursor: auto;
}

.card-modal-description {
  cursor: default;
}

.sb-image-card {
  border-radius: 20px;
  box-shadow: 1px 1px 10px 4px grey;
}

.on-list-delete {
  padding: 2px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.on-list-delete > form {
  margin: 2px 10px;
}

.on-list-delete > form > button {
  width: 100%;
  padding: 5px;
}

.sb-list-container > button {
  padding: 5px;
}

.list-card-delete-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-content: stretch;
  align-items: baseline;
  flex-wrap: wrap;
}

.list-card-delete-button > form > button {
  padding: 4px 8px;
  border-radius: 8px;
  margin: 8px 12px;
}

.list-card-add-card {
  margin-bottom: 8px;
}

.nocards {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.list-title-menu {
  width: fit-content;
  color: white;
}

.sb-header-right-container {
  display: flex;
  align-items: center;
}

h2.sb-edit-board > p.hover {
  position: relative;
  top: 2rem;
  left: 2rem;
}

.sb-eb-cap {
  display: flex;
  align-items: baseline;
  color: white;
}

p.caption {
  position: relative;
  height: min-content;
  top: 1.6rem;
  right: 2.8rem;
  font-size: small;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  padding: 0px 8px;
  color: black;
}

.list-title-menu {
  background-color: transparent;
  color: black;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: 10px;
}

button.omb-button {
  width: 100%;
  border-style: none;
  padding: 5px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}


@media only screen and (max-width: 650px) {
  .sb-list-full {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 8px;
    align-items: flex-start;
    color: #eae5ec;
  }

  .outer-sb-list {
    display: flex;
    width: 100vw;
    /* overflow-y: scroll; */
    height: 100%;

  }

  .sb-list-container {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.539);
    box-shadow: rgba(0, 0, 0, 0.502) 2px 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.502) 2px 4px 2px;
    border-radius: 20px;
    padding-bottom: 8px;
    width: 100%;
    border: 1px black solid;
    height: fit-content;
}

.pl-lists-button {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.365);
  width: 95%;
}
}
