.ac-comments-title {
  background-color: #c197d2;
  padding: 5px;
  border-radius: 10px;
}

.ac-comments-row {
  background-color: #c197d2;
  padding: 5px;
  border-radius: 10px;
}

.ac-modal-button {
  background-color: #613659;
}
