.dc-comments-delete-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
}

.dc-comments-modal-title,
.dc-comments-modal-p {
  color: white;
}

.dc-comments-modal-button {
  margin: 14px;
  padding: 5px;
  width: 175px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: white solid 2px;
}

.dc-comments-modal-button:hover {
  background-color: white;
  color: black;
}

.dc-comments-modal-button:focus {
  color: white;
}
