.pc-comments-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.pc-comments-title {
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.pc-comments-row {
  background-color: #c197d2;
  padding: 5px;
  border-radius: 10px;
  font-size: 1rem;
}

.pc-button {
  /* background-color: #613659; */
  align-self: flex-start;
}

.input-transition {
  background-color: #f5f5f5; /* softer background color */
  padding: 10px; /* more padding */
  border-radius: 20px;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* box shadow for 3D effect */
  width: 30%; /* initial width */
  transition: width 0.5s ease-in-out; /* transition effect */
}

.input-transition:hover {
  width: 90%; /* width when hovered */
}
