/* root and main page */








/* general styling */
.p-error{
	font-size: small;
	color: red;
}

li.open-modal-menu-item_list {
	list-style-type: none;
}





/* buttons */






/* effects */





/* other display */
