/* root and main page */

/* :root {
	margin: 0 auto;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

}

 */


/* general styling */
.p-error {
	font-size: small;
	color: red;
}

li.open-modal-menu-item_list {
	list-style-type: none;
}





/* buttons */






/* effects */





/* other display */
