#delete-list-button-container {
  display: flex;
  align-self: flex-end;
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.922);
  border: 1px rgba(0, 0, 0, 0.922) solid;
}

#delete-list-button {
  /* border: 1px white solid; */
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  padding: 4px;
  scale: 1.4;
}

#delete-list-button-container:hover {
  border: 1px white solid;
}
