#delete-list-button-container {
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
}

#delete-list-button {
  border: 1px white solid;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  padding-top: 6px;
}
